@charset "UTF-8";

.col-md-4{
	flex:0 0 auto;
	width:33.33333333%;
}

/* em:hover{
	
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 6px;
	background:rgb(84,179,254);
	
} */

.dividerSection{
	
	padding-left: 20px;
	padding-right: 20px;
	
}

.dividerSection:hover{
	background:rgb(84,179,254) !important;
	
}


#overlay {
	display: none;
  	position: fixed;
  	width: 100%;
  	height: 100%;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background-color: rgba(0,0,0,0.5);
  	z-index: 2;
  	cursor: pointer;
  	
}

#text{
	position: absolute;
  	top: 50%;
  	left: 50%;
  	font-size: 50px;
  	color: white;
  	transform: translate(-50%,-50%);
  	-ms-transform: translate(-50%,-50%);
}

.addAuctionInputs{
	width: 400px; 
	height: 30px; 
	font-size: 20px;
	border-radius: 6px;
	padding-left: 10px;
	border: 1px solid rgb(151,151,151); 
	margin-left: 5px;
}

.addAuctionLabels{
	height: 20px;
	width: 425px;
	padding-left: 10px;
	padding-top: 0px;
	font-size: 20px;
	font-family:Arial, Helvetica, sans-serif;
	color: rgb(118,120,122);	
}

/* .addAuctionInputs{
	height: 30px;
	width: 405px; 
	font-size: 20px;
	border-radius: 6px;
	padding-left: 10px;
	border: 1px solid rgb(0, 0, 0); 
	margin-left: 5px;
	
} */

/* .addAuctionInputs{
	width: 405px; 
	height: 30px; 
	font-size: 20px;
	border-radius: 6px;
	padding-left: 10px;
	border: 1px solid rgb(151,151,151); 
	margin-left: 5px;
} */





/* .addAuctionLabels{
	height: 100%;
	width: 100%;
	padding-left: 10px;
	padding-top: 0px;
	color: rgb(118,120,122);
	
} */

/* (230,231,232); */


